@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* shared-styles */

.inter-font {
  font-family: "Inter", serif;
}

.merri-font {
  font-family: "Merriweather", serif;
}

/* banner-section */

.banner {
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1320px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  margin: 0 auto;
  text-align: center;
  width: 632px;
  height: 246px;
}

.banner-subtitle {
  margin-top: -15px;
  color: white;
  font-size: 32px;
}

.banner-title {
  margin-top: 12px;
  color: white;
  font-size: 72px;
}

/* offer-section */

.offer {
  text-align: center;
  margin-top: 120px;
}

.offer h1 {
  font-size: 78px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 45px;
}

.offer h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: -20px;
}

.offer h3 {
  font-size: 40px;
  font-weight: bold;
  color: #070211;
}

/* party-banner-section */

.party-banner {
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1320px;
  margin: 120px auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-banner h2 {
  font-size: 64px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  width: 642px;
  height: 176px;
}

.party-banner p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  width: 697px;
  height: 60px;
}

.party-banner h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

/* date-time-party */

.party-join-now {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  background-color: rgba(255, 0, 0, 0.1) rgba(255, 0, 0, 0);
  margin: 120px auto;
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.party-join-now h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 12px;
}

.join-now-details h4 span {
  color: rgb(255, 0, 0);
}

.join-now-details button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  margin-top: 15px;
}

/* coming-soon */

.coming-soon {
  width: 1320px;
  height: 463px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.section1 .sec-title {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
  margin-bottom: -27px;
}

.section1 .sec-subtitle {
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
  margin-bottom: 5px;
}

.section1,
.section2 .sec-des {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
}

.section2 .year-title {
  font-size: 48px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  margin-bottom: 8px;
}

.coming-soon > img {
  border: 15px solid rgb(255, 0, 0);
  padding: 35px;
  border-radius: 50%;
}

.section2 img {
  margin-top: 35px;
}

/* holiday-sale */

.holiday-sale {
  background-image: url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1320px;
  height: 986.07px;
  margin: 120px auto;
}

.holiday-sale .sec-subtitle {
  font-size: 24px;
  font-weight: 500px;
  color: rgb(7, 2, 17);
  margin-bottom: -30px;
}

.holiday-sale span {
  color: rgb(255, 0, 0);
}

.holiday-sale .sec-title {
  font-size: 72px;
  font-weight: 900;
}

.holiday-sale .sec-des {
  font-size: 20px;
  font-weight: 500;
  margin: -30px 210px;
  line-height: 30px;
  color: rgba(7, 2, 17, 0.6);
}

.holiday-sale .sec-info {
  text-align: center;
}

.holiday-sale .sec-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.holiday-sale .img1 {
  width: 674px;
  height: 577px;
  margin-bottom: -320px;
}

.holiday-sale .img2 {
  width: 305px;
  height: 305px;
}

/* portfolio */

.portfolio {
  width: 1320px;
  height: 1163px;
  margin: 120px auto;
}

.portfolio .portfolio-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.portfolio .portfolio-title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
  margin-top: -15px;
}

.portfolio .portfolio-info p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-top: -15px;
}

.portfolio .portfolio-img-container {
  margin: 60px auto;
}

.portfolio-img-container .port-img {
  width: 424px;
  height: 450px;
  border-radius: 16px;
  margin: -4px 16px 16px 0;
}

/* subscriber */

.subscriber {
  margin: 120px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 716px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscriber-info {
  width: 896px;
}

.subscriber .subscriber-title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
  margin-bottom: -1px;
}

.subscriber p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.subscriber #sub-input {
  border: none;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  width: 648px;
  height: 72px;
  padding-left: 40px;
}

.subscriber-info ::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-size: 20px;
  font-weight: 400;
}

.subscriber button {
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  width: 210px;
  height: 72px;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0 50px 50px 0;
}

.subscriber-merger {
  width: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
}

.subscriber-container{
  display: flex;
  justify-content: center;
  align-items: center;
}