@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* shared-styles */

.inter-font {
  font-family: "Inter", serif;
}

.merri-font {
  font-family: "Merriweather", serif;
}

/* banner-section */

.banner {
  border-radius: 16px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1320px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  margin: 0 auto;
  text-align: center;
  width: 632px;
  height: 246px;
}

.banner-subtitle {
  margin-top: -15px;
  color: white;
  font-size: 32px;
}

.banner-title {
  margin-top: 12px;
  color: white;
  font-size: 72px;
}

/* offer-section */

.offer {
  text-align: center;
  margin-top: 120px;
}

.offer h1 {
  font-size: 78px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 45px;
}

.offer h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: -20px;
}

.offer h3 {
  font-size: 40px;
  font-weight: bold;
  color: #070211;
}

/* party-banner-section */

.party-banner {
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1320px;
  margin: 120px auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-banner h2 {
  font-size: 64px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  width: 642px;
  height: 176px;
}

.party-banner p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  width: 697px;
  height: 60px;
}

.party-banner h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 50px;
}

/* date-time-party */

.party-join-now {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  background-color: rgba(255, 0, 0, 0.1) rgba(255, 0, 0, 0);
  margin: 120px auto;
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.party-join-now h4{
  font-size: 32px;
  font-weight: 600;
  line-height: 12px;
}

.join-now-details h4 span{
  color: rgb(255, 0, 0);
}

.join-now-details button{
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  margin-top: 15px;
}